{% extends 'base.html.twig' %}

{% block title %}Hello RecettesController!
{% endblock %}

{% block body %}
	<div class="container-fluid p-5">
		<div class="Container_Primary p-4 exo">
			<h2>mes recettes</h2>
		</div>
	</div>

{% endblock %}
