{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div class="container-fluid p-5">
        <div class="Container_Primary p-4 exo">
            <h2>Nos recettes</h2>
        </div>
        
        {% for recipe in recipes %}
            <p>On est sur la recette {{ recipe.title }}</p>
            {# Vous pouvez accéder aux propriétés de l'entité recipe, par exemple "title" #}
        {% endfor %}

    </div>
{% endblock %}