{% extends 'base.html.twig' %}

{% block title %}Recettes
{% endblock %}

{% block body %}
	<div class="container-fluid p-5">
		<div class="Container_Primary p-4 exo">
			<h2>Nos recettes</h2>
		</div>
		<div class="Container_Primary p-4 exo mt-4">
<div class="row text-center ">
			{% for recipe in recipes %}
			{% if recipe.patients_accessible != false %}
				
			<div class="col-3 recipes_card mx-auto">
			<a href="">
				<img src="upload/recipes/{{ recipe.image }} " class="recipes_image"></img></a>
			<h3>{{ recipe.title }}</h3>
			<ul>
				{% for note in recipe.note %}
					<p>{{ note }}</p>
				{% endfor %}
			</ul>
			</div>
			{% endif %}
			
		{% endfor %}
</div>
	</div>
</div>{% endblock %}
