{% extends 'base.html.twig' %}

{% block title %}Politiques de confidentialité{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <div class="Container_Primary p-4 exo">
        <h2>politiques confidentialité</h2>
    </div>
    <div class="Container_Primary p-2 mt-5 merri">
        <p>
            <strong> Dernière mise à jour :</strong>[Date de la dernière mise à jour]</br>
            La présente Politique de Confidentialité décrit la manière dont les données à caractère personnel sont collectées, utilisées et partagées lorsque vous visitez ce site Internet.</br></br>
            <strong>Collecte et utilisation des données:</strong></br>
            Lorsque vous visitez ce site, certaines informations sont automatiquement collectées par l'intermédiaire de cookies et de technologies similaires. Ces données comprennent notamment votre adresse IP, le type de navigateur, les pages que vous avez consultées et les temps d'accès. Ces informations sont utilisées pour analyser les tendances, administrer le site, suivre les mouvements des utilisateurs sur le site et collecter des informations démographiques.</br></br>
            De plus, si vous choisissez de nous fournir des informations personnellement identifiables, telles que votre nom, votre adresse e-mail ou votre numéro de téléphone, ces données seront utilisées pour répondre à vos demandes spécifiques, comme prendre rendez-vous ou vous envoyer des informations pertinentes.</br></br>
            <strong>Partage des données:</strong></br>
            Vos données à caractère personnel ne seront pas partagées, vendues, louées ou divulguées à des tiers, sauf dans les cas suivants :</br>
            Si cela est nécessaire pour répondre à vos demandes spécifiques, comme prendre rendez-vous ou vous fournir des informations demandées.</br>
            Si nous sommes légalement tenus de le faire par une autorité judiciaire ou une réglementation en vigueur.</br></br>
            <strong>Sécurité des données</strong></br>
            Nous nous engageons à protéger vos données à caractère personnel et avons mis en place des mesures de sécurité appropriées pour empêcher tout accès non autorisé, divulgation, altération ou destruction de ces données.</br></br>
            <strong>Vos droits</strong></br>
            Vous avez le droit de demander l'accès, la rectification, la suppression ou la portabilité de vos données à caractère personnel. Pour exercer ces droits ou poser des questions concernant cette Politique de Confidentialité, veuillez nous contacter par e-mail à marsaudolivier@gmail.com.</br></br>
            <strong>Modifications de la Politique de Confidentialité:</strong></br>
            Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité à tout moment. Les modifications seront publiées sur cette page avec une date de révision mise à jour. Il est de votre responsabilité de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications.</br></br>
        </p>
    </div>
</div>
{% endblock %}
