<!--Footer template-->
<footer class="container-fluid bg-primary text-secondary text-center py-2 mt-4">
	<div class="row">

		<div class='col-6 '>
			<div>
				<p>Téléphone : 06-00-00-00-00</p>
			</div>
			<div>
				<a class="nav-link" href="/mentions">Mentions Légales</a>
			</div>
			<div>
				<a class="nav-link" href="/politiques">Politique de Confidentialité</a>
			</div>
			<div>
				<a class="nav-link" href="/contact">Contactez-moi</a>
			</div>
		</div>
		<div class='col-6 test2 d-flex '>
			<a class="nav-link" href="#"><img class="social p-2" src="{{ asset('images/fb.svg') }}" alt="Logo"></a>
			<a class="nav-link" href="#"><img class="social p-2" src="{{ asset('images/insta.png') }}" alt="Logo"></a>
			<a class="nav-link" href="#"><img class="social p-2" src="{{ asset('images/x.svg') }}" alt="Logo"></a>
		</div>
	</div>

</footer>
