{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}
<div>
<h1>Bienvenue {{ app.user.firstname }} {{ app.user.lastname }} sur la page administration de votre site.</h1>
<a href="./" class="btn btn-primary">Retour sur la Page Principal</a>
</div>
{% endblock %}
