<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column justify-content-between min-vh-100">
		{% include "partial/header.html.twig" %}
		<div class="flex-grow-1"> {% block body %}{% endblock %}
		</div>
		{% include "partial/footer.html.twig" %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		</body>
	</html>
