<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body class="d-flex flex-column justify-content-between min-vh-100">
		<header>
			<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
				<div class="container-fluid">
					<a class="navbar-brand" href="/test">Sandrine Coupart</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarColor01">
						<ul class="navbar-nav ms-auto">
							<li class="nav-item">
								<a class="nav-link active" href="#">Index
									<span class="visually-hidden">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Recettes</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Contact</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Connexion</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<div class="flex-grow-1"> {% block body %}{% endblock %}
			</div>

			<footer class="container-fluid bg-primary text-secondary text-center py-2">Footer</footer>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
			{% endblock %}
		</body>
	</html>
