{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="Container_Primary mt-4 container">
	<div class="row align-items-center">
		<h2 class="col-6 exo">me contacter</h2>
		<img src="{{ asset('images/Ellipse2.png') }}" alt="Photo de Sandrine Coupart" class="ellipse_menu col-3 mx-auto ">
	</div>
</div>
<div class="container Container_Primary mt-4">
    <div class="row">
    <div class="col-12">
    </div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
