{% extends 'base.html.twig' %}

{% block title %}Hello Mentions Légales{% endblock %}

{% block body %}
<div class="container-fluid p-5">
    <div class="Container_Primary p-3 exo">
        <h2>Mentions légales</h2>
    </div>
    <div class="Container_Primary p-2 mt-5 merri">
        <p>
            <strong> Éditeur du site:</br></strong>
            <strong>Nom du propriétaire :</strong>Marsaud olivier </br>
            <strong>Adresse :</strong>34 Rue aristide Caillaud 79700 Moulins </br>
            <strong>Numéro de téléphone :</strong> 06-58-08-37-90</br>
            <strong>Adresse e-mail :</strong> marsaudolivier@gmail.com</br></p>
            <strong> Directeur de publication:</strong>Marsaud olivier</br>
            <strong>Adresse :</strong>34 Rue aristide Caillaud 79700 Moulins </br>
            <strong>Numéro de téléphone :</strong>06-58-08-37-90</br>
            <strong>Adresse e-mail :</strong>marsaudolivier@gmail.com</br></p>
            <strong>Hébergeur du site:</strong></br></br>
            <strong>  Propriété intellectuelle:</strong>
            Le contenu de ce site (textes, images, vidéos, etc.) est protégé par les droits de propriété intellectuelle. Toute reproduction ou utilisation sans autorisatio
            préalable est interdite.</br></br>
            <strong>Données personnelles:</strong>
            Conformément à la loi Informatique et Libertés du 6 janvier 1978, vous disposez d'un droit d'accès, de rectification et de suppression des données vous concernant.
            Pour exercer ce droit, veuillez nous contacter par e-mail à l'adresse suivante :marsaudolivier@gmail.com</br></br>
            <strong>Cookies:</strong>
            Ce site utilise des cookies pour améliorer l'expérience utilisateur. En naviguant sur ce site, vous acceptez l'utilisation des cookies.</br></br>
            <strong>À propos de ce site:</strong>
            Ce site a été créé à des fins d'évaluation dans le cadre de l'examen ECF (Épreuve de Connaissance et de Fin de formation) pour l'école Studi.</br></br>
            <strong>Objectif:</strong>
            L'objectif principal de ce site est de démontrer les compétences acquises dans le domaine du développement web dans le cadre de la formation dispensée par l'école Studi.
            Il vise à présenter un échantillon représentatif des connaissances et des compétences acquises tout au long de la formation.</br></br>
            <strong>Examen ECF:</strong>
            L'examen ECF est une étape cruciale dans notre parcours de formation. Il évalue nos compétences, nos connaissances et notre aptitude à appliquer les concepts enseignés dans
            des projets concrets.</br></br>
            <strong>Utilisation pédagogique:</strong>
            Ce site a été conçu dans le but de mettre en pratique les enseignements reçus et d'exposer notre savoir-faire en matière de développement web. Il est destiné à être évalué dans
            le cadre de l'examen ECF de l'école Studi.</br></br>
            <strong>Confidentialité:</strong>
            Toutes les données et les contenus présents sur ce site sont destinés à l'évaluation dans le cadre de l'examen ECF de l'école Studi. Toute utilisation, reproduction ou diffusion
            en dehors de cette contexte est strictement interdite.</br></br>
        </p>
    </div>
</div>
{% endblock %}
