body {
    background-color: $light;
  }
  nav img {
    width: 120px; /* Ajustez la taille selon vos besoins */
    height: 75px;
  }
  h1 {
    font-size: 80px ;
    color: $secondary ;
    display: inline-block;
    -webkit-text-stroke: 1px $success;
    padding: 5px;
  }
  h2 {
    color: $secondary;
    text-align: center;
    font-size: 120px ;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
  }
  .social {
    width: 50px;
    height: 50px;
  }
  .Container_Primary {
    background-color: $dark;
    border-radius: 25px;
    border: 1px solid $primary;
  }
  @media screen and (max-width: 850px) {
    h1 {
      font-size: 40px ;
    }
    h2 {
      font-size: 60px ;
    }
  }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 30px ;
    }
    h2 {
      font-size: 40px ;
    }
  }
  @media screen and (max-width: 450px) {
    h1 {
      font-size: 20px ;
    }
    h2 {
      font-size: 30px ;
    }
  }
  