{% extends 'base.html.twig' %}

{% block title %}Index
{% endblock %}

{% block body %}
	<div class="Container_Primary mt-4">
    <div class="row justify-content-md-center">
		<div class="col-2">
			<h3>à propos</h3>
			<img src="{{ asset('images/Ellipse1.png') }}" alt="Photo de sandrine coupart" class="align-self-center">
		</div>
   <div class="col-7">
   <p>Bonjour et bienvenue ! Je suis Sandrine Coupart, diététicienne-nutritionniste basée à Caen. Passionnée par la nutrition et la santé, j'ai choisi d'en faire mon métier afin d'accompagner les personnes vers une meilleure qualité de vie à travers une alimentation équilibrée.

Mon cabinet est un lieu où je mets en pratique ma philosophie : promouvoir une approche holistique de la nutrition, en considérant chaque individu dans sa globalité. Chaque patient est unique, c'est pourquoi je personnalise mes consultations pour répondre aux besoins spécifiques de chacun.
En plus des consultations individuelles, j'anime des ateliers de prévention et d'information sur la nutrition. Mon objectif est d'éduquer et de sensibiliser à l'importance d'une alimentation équilibrée et adaptée à chacun, afin de prévenir les problèmes de santé et de favoriser le bien-être.
Je suis là pour vous accompagner dans votre démarche vers une alimentation saine et équilibrée, en vous fournissant des conseils personnalisés et des outils concrets. Ensemble, nous travaillerons à atteindre vos objectifs de santé et à vous aider à adopter de saines habitudes alimentaires pour une vie plus épanouie.
N'hésitez pas à me contacter pour prendre rendez-vous ou pour toute question. Je me réjouis de faire votre connaissance et de vous aider dans votre parcours vers une meilleure santé !</p></div>
    </div>
	</div>

{% endblock %}
